/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #3694ff;
  --secondary-grey: #434343;
  --main-white: #fff;
  --main-grey: #b5b5b5;
  --dark-bg: #15202b;
  --light-bg: #ebebeb;
  --secondary-blue: #17a2b8;
}

html {
  height: 100%;
  font-size: 'Mont-serrat', sans-serif;
  display: grid;
  align-items: center;
  justify-content: center;
  --bg: #ebebeb;
  --bg-panel: #fcfcfc;
  --color-headings: #000;
  --color-text: #333;
  --btn-blue: #17a2b8;
}

html[data-theme='dark'] {
  --bg: #15202b;
  --bg-panel: #434343;
  --color-headings: var(--dark-blue);
  --color-text: #b5b5b5;
  --btn-blue: #3694ff;
}

body {
  background-color: var(--bg);
}

html, body{
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

/* content-container */
.container {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  flex: 1;
}

.content {
  width: 80%;
  margin: 0 auto;
}

.left {
  order: 1;
  padding: 2rem 1rem;
  width: 80vw;
}

.right {
  order: 2;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
}

/* toggleMode */
#switch {
  position: relative;
  cursor: pointer;
  width: 52px;
  height: 27px;
  background: grey;
  float: right;
  -webkit-appearance: none;
  border-radius: 20px;
  outline: none;
  position: relative;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  transition: 0.5s;
}

#switch:checked {
  background: var(--color-headings);
  border-color: var(--bg);
}

#switch:before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
  background: #fff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: 0.5s;
}

#switch:checked:before {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

/* form-container */
.form-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.form-container input {
  margin-bottom: 10px;
}

/* nav */
.nav {
  position: absolute;
  top: 1rem;
  left: 3rem;
}

.nav ul {
  display: flex;
}

.nav ul li {
  list-style: none;
}

/* reusable */
.btn {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #fff;
  border-radius: 10px;
  border-style: solid;
  font-size: 0.875rem;
}

.btn-red {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-green {
  background-color: #28a745;
  border-color: #28a745;
}
.btn-yellow {
  background-color: #ffc107;
  border-color: #ffc107;
}
.btn-blue {
  background-color: var(--btn-blue);
  border-color: var(--btn-blue);
}

.btn_delete {
  display: inline-block;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text);
}

/* table */
.table-container {
  text-align: center;
  margin-top: 1rem;
}

.table {
  border-collapse: collapse;
  color: var(--color-text);
  font-size: 1.25rem;
}

.table th {
  color: inherit;
}
.table td,
.table th {
  padding: 5px;
  border: 0;
  transition: 0.5s;
}

.table tr {
  border-bottom: 1px solid rgb(222, 222, 222);
}

.table tfoot {
}

.positive {
  color: #009ecf;
}

.negative {
  color: #fd6b60;
}

.row_data.focus() {
  border: 1px solid red;
}

input {
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  background: var(--bg-panel);
  color: var(--color-text);
}

input::placeholder {
  color: var(--color-text);
}

/* login */
.login-container {
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container h2 {
  padding: 1rem;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* AutoCompleteText */
.AutoCompleteText > div {
  list-style: none;
  margin-top: -10px;
  margin-bottom: 10px;
  text-align: left;
}

.AutoCompleteText .list-item {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 5px;
  box-sizing: border-box;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: var(--color-text);
  transition: 1s;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 1000ms !important;
  transition-delay: 0 !important;
}
