/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
}

/* content-container */
.container {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  flex: 1;
}

.content {
  width: 80%;
  margin: 0 auto;
}

.left {
  order: 1;
  padding: 2rem 1rem;
}

.right {
  order: 2;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* form-container */
.form-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.form-container input {
  margin-bottom: 10px;
}

/* nav */
.nav {
  position: absolute;
  top: 1rem;
  left: 3rem;
}

.nav ul {
  display: flex;
}

.nav ul li {
  list-style: none;
}

/* reusable */
.btn {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #fff;
  border-radius: 10px;
  border-style: solid;
  font-size: 0.875rem;
}

.btn-red {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-green {
  background-color: #28a745;
  border-color: #28a745;
}
.btn-yellow {
  background-color: #ffc107;
  border-color: #ffc107;
}
.btn-blue {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

/* table */
.table-container {
  text-align: center;
  margin-top: 1rem;
}

.btn_save,
.btn_cancel,
.btn_delete {
  display: inline-block;
}

.table {
  border-collapse: collapse;
  color: #000;
  font-size: 18px;
}
.table th {
  color: #000;
}
.table td,
.table th {
  padding: 5px;
  border: 0;
}

.table tr {
  border-bottom: 1px solid rgb(222, 222, 222);
}

.table tfoot {
}

.positive {
  color: #009ecf;
}

.negative {
  color: #fd6b60;
}

.row_data.focus() {
  border: 1px solid red;
}

input {
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
}

/* login */
.login-container {
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container h2 {
  padding: 1rem;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* AutoCompleteText */

.AutoCompleteText > div {
  list-style: none;
  margin-top: -10px;
  margin-bottom: 10px;
  text-align: left;
}

.AutoCompleteText .list-item {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 5px;
  box-sizing: border-box;
}
